// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-gallery {
  margin: 2em;

  .input-group{
    width: 500px;
    margin: 30px auto auto;
    text-align: center;

    button{ min-height: 31px }:hover{ cursor: pointer }

    input{
      min-width: 65%;
      border: 1px solid #d1d5da;
      border-radius: 3px;
      outline: none;
      box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
      min-height: 25px;
      padding: 2px 5px 2px 5px;
    }
  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 40px;
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  tr {
    height: 150px;

    img{
      max-height: 140px;
      border-radius: 5px;
    }
  }
  tr:nth-child(even){background-color: #f2f2f2;}

  ul{
    min-height: 500px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 7px;
    padding-bottom: 1em;
    padding-left: 0;
    list-style-type: none;

    img{
      margin-top: 2em;
      max-width: 90%;
    }
  }
}

.btn {
  color: white;
  background-color: #1d81ff;
  line-height: 40px;
  text-decoration: none;
  border-radius: 7px;
  border-style: none;
  min-width: 100px;
  margin: 30px;
}
.btn:hover{
    background-color: #1354a8;
    transition: background-color 0.3s ease;
    cursor: pointer;

}

.center{
  display: block;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%
}

.upload-image{
  margin-top: 3em;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;

  form{
    min-height: 500px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 7px;
    padding-bottom: 1em;

    input[type=file], input[type=text] {
      width: 70%;
      padding: 12px 20px;
      margin-top: 5em;
      margin-bottom: 5em;
      box-sizing: border-box;
      font-size: 20px;
    }

    input[type=submit]{
      font-size: initial;
    }
  }

  .with-padding{
    a{
      display: inline-block;
      height: 42px;
      margin-right: 1.5em;
    }
  }
}

.ar-qr-image img {
  width:150%;
  height: auto;
}