<% unless flash[:notice].blank? %>
      <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<div class="image-gallery">
  <div class="ar-qr-image center">
    <%= image_tag @qr_url%>
  </div>
  <%= link_to 'Back', images_path, class: 'btn center' %>
</div>

