<% unless @image.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="image-gallery">
  <ul>
    <li><%= image_tag @image.image_url %></li>
    <li><%= link_to 'Image link', (@image.image_url) %></li>
  </ul>
</div>

<%= link_to 'Back', images_path, class: 'btn center' %>